QMainWindow {
	background: #696969;
}

QPushButton#Sendfilebutton {
    border-style: solid;
    border-radius: 25px;
	background: #1473e6;
	background-position: bottom center;
	color: white;
	font: bold 20px Arial, comic-sans;
}

QPushButton:hover#Sendfilebutton {
	background: gray;
}

QMenuBar {
	background: gray;
	color: black;
}
QLabel#Filenamelabel {
	font: bold 15px Arial, comic-sans
}
